.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;

  main {
    justify-content: center;
    flex: 1;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    z-index: 0;
  }
}
